
*{
   font-family: Arial, Helvetica, sans-serif;
   padding: 0;
   margin: 0;
}
body{
   background-color: #222;
   background: url(/background.jpg);
   color: yellow;
    
}
h1{
   margin-top: 20px;
   margin-left: 35%;
}
.card{
   width: 80%;
   max-width: 400px;
   background: linear-gradient(135deg,#00feba,#5b548a);
   color: #fff;
   border-radius: 20px;
   margin: 10px auto 0;
   padding: 30px 10px 20px;
   text-align: center;
}
.search{
   width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.search input{
   border: 0;
   outline: 0;
   background: #ebfffc;
   color: #555;
   height: 60px;
   padding: 0px 25px;
   margin-right:16px;
   font-size: 18px;
   border-radius: 30px;
}
.search button{
   border: 0;
   outline: 0;
   background: #ebfffc;
   border-radius: 50%;
   width: 56px;
   height: 56px;
   cursor: pointer;
}
.search img{
   width: 16px;
}
.weather-icon{
   width: 170px;
   margin-top: 30px;

}
.weather h1{
   margin: 0;
   font-size: 80px;
   font-weight: 500;
}
.weather h2{
   font-size: 45px;
   font-weight: 400;
   margin-top: -10px;
}
.detail{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   margin-top: 50px;
}
.col{
   display: flex;
   align-items: center;
}
.col img{
   width: 40px;
   margin-right: 10px;
}
.col .humidity, .wind{
   font-size: 28px;
   font-weight: 100;
   margin-top: -6px;
}

 
.error{
   text-align: left;
   margin-left: 30px;
   margin-top: 10px;
   font-size: 16px;
   font-weight: 500;
   color: red;
   display: none;
}
.weather{
   display: none;
}
